<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
<style>
    body {
        font-family: Arial, sans-serif;
        padding: 20px;
        line-height: 1.6;
    }
    label {
        display: block;
        margin-top: 20px;
        font-weight: bold;
    }
    input, select {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
    }
    button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: #0056b3;
    }
    pre {
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        padding: 10px;
        overflow: auto;
    }

  input, select, textarea {
    width: 100%;         /* Ensures full width */
    padding: 8px;        /* Padding for better text visibility */
    margin-top: 5px;     /* Margin for spacing between label and input */
    font-size: 16px;     /* Increase font size for better readability */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

</style>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}

    <script>
      fetch('packages.json')
        .then(response => response.json())
        .then(data => {
          const selector = document.getElementById('packageSelector');
          data.forEach(pkg => {
            const option = document.createElement('option');
            option.value = pkg.name; // Use the package name as the value
            option.textContent = pkg.name; // Also use the name as the text content
            selector.appendChild(option);
          });
        })
        .catch(error => console.error('Failed to load packages:', error));

fetch('extensions.json')  // 
  .then(response => response.json())
  .then(data => {
    const selector = document.getElementById('extensionSelector');
    data.forEach(ext => {
      const option = document.createElement('option');
      option.value = ext;
      option.textContent = ext;
      selector.appendChild(option);
    });
  })
  .catch(error => console.error('Failed to load extensions:', error));

function generateDevContainerJSON() {
    const name = document.getElementById('nameField').value;
    const workspaceFolder = document.getElementById('workspaceField').value;
    const image = document.getElementById('packageSelector').value;
    const cpus = document.getElementById('cpuSelector').value;
    const extensions = Array.from(document.getElementById('extensionSelector').selectedOptions).map(opt => opt.value);
    const ports = document.getElementById('ports').value.split(',').map(port => port.trim());
    const updateContentCommand = document.getElementById('updateContentCommand').value;
    const postCreateCommand = document.getElementById('postCreateCommand').value;
    const postStartCommand = document.getElementById('postStartCommand').value;

    const devContainerConfig = {
        "name": name,
        "workspaceFolder": workspaceFolder,
        "image": image,
        "hostRequirements": {
            "cpus": parseInt(cpus)
        },
        "forwardPorts": ports.map(Number),
        "portsAttributes": {},
        "customizations": {
            "vscode": {
                "extensions": extensions
            }
        },
        "updateContentCommand": updateContentCommand,
        "postCreateCommand": postCreateCommand,
        "postStartCommand": postStartCommand
    };

    // Populate port attributes using the image name as the label
    ports.forEach(port => {
        devContainerConfig.portsAttributes[port] = {
            "label": image,
            "onAutoForward": "openPreview"
        };
    });

    // Output the JSON configuration in a formatted way
    document.getElementById('output').textContent = JSON.stringify(devContainerConfig, null, 2);
}

function downloadJSON() {
    const blob = new Blob([globalJSON], {type: 'application/json'});
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = 'devcontainer.json';
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    URL.revokeObjectURL(url);  // Clean up the URL object
}


    </script>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
    <h1>Design Codespace</h1>
    <p>Configure your GitHub Codespace environment:</p>
    <!-- Name -->
    <label for="nameField">Name:</label>
    <input type="text" id="nameField" name="name" placeholder="Enter name of the Codespace">

    <!-- Container Image Selector -->
    <label for="packageSelector">Select Container Image:</label>
    <select id="packageSelector"></select>
          
     <!-- Workspace Folder -->
    <label for="workspaceField">Workspace Folder:</label>
    <input type="text" id="workspaceField" name="workspace" placeholder="Enter workspace folder path if any e.g. /home/rstudio/workspace ">
          
    <!-- CPU Selector -->
    <label for="cpuSelector">Number of CPUs:</label>
    <input type="number" id="cpuSelector" name="cpus" min="1" max="8" value="2">
        
    <!-- Ports -->
    <label for="ports">Ports (comma-separated, e.g., 8080, 3000):</label>
    <input type="text" id="ports" name="ports" placeholder="Enter ports">
        
    <!-- VS Code Extensions -->
    <label for="extensionSelector">Select VS Code Extensions:</label>
    <select id="extensionSelector" multiple>
      <!-- Options will be populated dynamically -->
    </select>
    <!-- Update Content Command -->
    <label for="updateContentCommand">Update Content Command:</label>
    <textarea id="updateContentCommand" placeholder="Command to Update contianer e.g., python3 -m pip install -r requirements.txt"></textarea>

    <!-- Post Create Command -->
    <label for="postCreateCommand">Post Create Command:</label>
    <textarea id="postCreateCommand" placeholder="Command to run after creating the container"></textarea>

    <!-- Post Start Command -->
    <label for="postStartCommand">Post Start Command:</label>
    <textarea id="postStartCommand" placeholder="Command to run after starting the container e.g. ./post_start.sh "></textarea>
            
    <!-- Generate Button -->
    <button onclick="generateDevContainerJSON()">Generate Configuration</button>
    <!-- Download Button -->
    <button id="downloadBtn" style="display:none;" onclick="downloadJSON()">Download devcontainer.json</button>

    <!-- Output -->
    <h2>Generated Devcontainer:</h2>
    <pre id="output"></pre>


{{ content }}
</section>
        <aside id="sidebar">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}

          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}
    
          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </aside>
      </div>
    </div>

  </body>
</html>
